@inject NavigationManager Navigation

<div class="header">
    <div class="headerContainer">
        <div class="headerList">
            <div class="headerListItem active">
                <i class="fas fa-bed mx-1"></i>
                <span>Stays</span>
            </div>
             <div class="headerListItem">
                <i class="fas fa-plane mx-1"></i>
                <span>Flights</span>
            </div>
             <div class="headerListItem">
                <i class="fas fa-car mx-1"></i>
                <span>Car rental</span>
            </div>
             <div class="headerListItem">
                <i class="fas fa-bed mx-1"></i>
                <span>Attractions</span>
            </div>
            <div class="headerListItem">
                <i class="fas fa-taxi mx-1"></i>
                <span>Airport taxis</span>
            </div>
        </div>
        <h1 class="headerTitle">
              A lifetime of discounts? It's Genius.
         </h1>
         <p class="headerDesc">
              Get rewarded for your travels – unlock instant savings of 10% or
              more with a free booking account
         </p>
         <button class="headerBtn">Sign in / Register</button>
         <div class="headerSearch">
             <div class="headerSearchItem">
                  <i class="fas fa-bed headerIcon"></i>
                  <input
                  type="text"
                  placeholder="Where are you going?"
                  class="headerSearchInput"
                 />
             </div>
             <div class="headerSearchItem">
                  <i class="fas fa-calendar-days headerIcon"></i>
                 <span class="headerSearchText">date to date</span>
             </div>
             <div class="headerSearchItem">
                  <i class="fas fa-person headerIcon"></i>
                  <span class="headerSearchText"> 2 adults 2 children 1 room</span>
             </div>
             <div class="headerSearchItem">
                <button class="headerBtn" @onclick="NavigateToHotelsPage">
                  Search
                </button>
              </div>
         </div>
    </div>
</div>

@code {
    private void NavigateToHotelsPage()
    {
        Navigation.NavigateTo("hotels");
    }
}