@page "/"

<PageTitle>Bookings | Home</PageTitle>

<NavMenu/>

<TopNavBar ShowSearch=true/>

<div class="homeContainer">
    
    <Feature/>
    <h1 class="homeTitle">Browse by property type</h1>
    <PropertyList/>
    <h1 class="homeTitle">Homes guests love</h1>
    <FeaturedProperties/>
    <MailList/>
    <FooterBottom/>
</div>




